    <footer class="border-top footer text-muted mt-auto py-3 bg-light">
        <div class="container">
            &copy; 2025 - TechJobPortal - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>